{% block content %}

    <p class="text-center">{{ firstDate | format_date }} - {{ lastDate | format_date }}</p>



    <div class="mt-1 flex flex-wrap justify-center">
        <div class="px-5 ">{{ 'txt.confirmedcases_byplaces' | trans }} </div>
        <svg
                xmlns:dc="http://purl.org/dc/elements/1.1/"
                xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                width="67.729065mm"
                height="6.4029169mm"
                viewBox="0 0 67.729065 6.402917"
                version="1.1"
                id="svg8"
                inkscape:version="0.92.4 (5da689c313, 2019-01-14)"
                sodipodi:docname="legende02571113.svg">
            <metadata
                    id="metadata4748">
                <rdf:RDF>
                    <cc:Work
                            rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type
                                rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                        <dc:title></dc:title>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <defs
                    id="defs4746" />
            <sodipodi:namedview
                    pagecolor="#ffffff"
                    bordercolor="#666666"
                    borderopacity="1"
                    objecttolerance="10"
                    gridtolerance="10"
                    guidetolerance="10"
                    inkscape:pageopacity="0"
                    inkscape:pageshadow="2"
                    inkscape:window-width="1920"
                    inkscape:window-height="1017"
                    id="namedview4744"
                    showgrid="false"
                    inkscape:zoom="3.959798"
                    inkscape:cx="145.02187"
                    inkscape:cy="19.580111"
                    inkscape:window-x="-8"
                    inkscape:window-y="-8"
                    inkscape:window-maximized="1"
                    inkscape:current-layer="layer1" />
            <g
                    inkscape:label="Calque 1"
                    inkscape:groupmode="layer"
                    id="layer1"
                    transform="translate(-10.919969,-138.44324)">
                <rect
                        class="rect_scale"
                        style="fill:none;"
                        id="rect819"
                        width="7.9390359"
                        height="2.8466077"
                        x="11.045805"
                        y="138.56908" />
                <rect
                        class="rect_scale"
                        style="fill:#ffffff"
                        id="rect823"
                        width="10.523839"
                        height="2.846606"
                        x="11.045805"
                        y="138.56908" />
                <rect
                        class="rect_scale percent20"
                        id="rect823-9"
                        width="10.523839"
                        height="2.846606"
                        x="24.062132"
                        y="138.56908" />
                <rect
                        class="rect_scale percent40"
                        id="rect823-9-0"
                        width="10.523839"
                        height="2.846606"
                        x="35.154705"
                        y="138.56908" />
                <rect
                        class="rect_scale percent60"
                        id="rect823-9-0-5"
                        width="10.523839"
                        height="2.846606"
                        x="46.121094"
                        y="138.56908" />
                <rect
                        class="rect_scale percent90"
                        id="rect823-9-0-5-2"
                        width="10.523839"
                        height="2.846606"
                        x="57.087482"
                        y="138.56908" />
                <rect
                        class="rect_scale percent100"
                        id="rect823-9-0-5-2-4"
                        width="10.523839"
                        height="2.846606"
                        x="68.053856"
                        y="138.56908" />
                <text
                        xml:space="preserve"
                        class="text_scale"
                        x="15.507004"
                        y="144.7962"
                        id="text910"><tspan
                            sodipodi:role="line"
                            id="tspan908"
                            x="15.507004"
                            y="144.7962"
                            style="font-size:3.52777767px;stroke-width:0.26458332">0</tspan></text>

                {% for data  in echelle %}
                <text
                        xml:space="preserve"
                        class="text_scale"
                        x="{{ data['coordX'] }}"
                        y="{{ data['coordY'] }}"
                        id="text_percent_40"><tspan
                            sodipodi:role="line"
                            id="tspan_percent_40"
                            x="{{ data['coordX'] }}"
                            y="{{ data['coordY'] }}"
                            style="font-size:3.17499995px;stroke-width:0.26458332">{{ data['value'] }}</tspan></text>
                {% endfor %}


                <path
                        style="fill:none;stroke:#000000;stroke-width:0.12583607px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 34.875697,138.56906 v 3.34168"
                        id="path1010-0"
                        inkscape:connector-curvature="0" />
                <path
                        style="fill:none;stroke:#000000;stroke-width:0.12583607px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 45.907362,138.56906 v 3.34168"
                        id="path1010-0-5"
                        inkscape:connector-curvature="0" />
                <path
                        style="fill:none;stroke:#000000;stroke-width:0.12583607px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 56.87375,138.56906 v 3.34168"
                        id="path1010-0-5-5"
                        inkscape:connector-curvature="0" />
                <path
                        style="fill:none;stroke:#000000;stroke-width:0.12583607px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 67.840138,138.56906 v 3.34168"
                        id="path1010-0-5-5-3"
                        inkscape:connector-curvature="0" />
            </g>
        </svg>


    </div>

{% endblock content %}
