{% block content %}

    {% if lists|length > 0 %}





            <div class="px-3 py-4 flex justify-center">
                <div class="w-full text-md bg-white  mb-4">
                    <dl class="accordion">
                    {% endif %}
                    {% for key,list in lists %}
                        {% set id = lists[key].id  %}
                        {% set name = lists[key].name  %}
                        {% set number = lists[key].number  %}
                        {% set districts = lists[key].districts  %}
                        {% set numberLastAdded = lists[key].numberLastAdded  %}
                        {% set percent = lists[key].percent  %}
                        {% set svg = lists[key].svg  %}
                        {% set lastAddedUpdatedAt = lists[key].lastAddedUpdatedAt | date('d/m')  %}


                        <dt>
                            <div class="js-badger-accordion-header border-b flex flew-wrap w-full flex-col sm:flex-row">
                                <div class="w-full lg:w-6/12 md:w-6/12 p-1 flex flex-wrap ">
                                    <div class="w-6/12 p-1 cursor-pointer ">

                                        {{ name }}


                                        {% if number > 0 %}
                                            <span class="arrow arrow_accordion"><span></span><span></span></span>
                                        {% endif %}
                                    </div>
                                    <div class="mr-2 w-3/12">
                                        {{ number }}
                                        {% if percent != 0 and percent != 100 %}<em class="text-xs"> ({{ percent }}%)</em> {% endif %}
                                    </div>
                                    <div class="mr-2 w-2/12" data-tippy-content="{{ 'txt.data_day' | trans }} {{ lastAddedUpdatedAt }}">
                                        {{ "+" ~ numberLastAdded }}
                                    </div>
                                </div>
                                <div class="p-1 w-6/12 mr-2 w-full lg:w-6/12 md:w-6/12">
        {#                            <svg class="s-e"><line class="l-1" x1="2.2530329289428073" y1="0" x2="2.2530329289428073" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="7.209705372616984" y1="0" x2="7.209705372616984" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="12.16637781629116" y1="0" x2="12.16637781629116" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="17.12305025996534" y1="0" x2="17.12305025996534" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="22.079722703639515" y1="0" x2="22.079722703639515" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-0" x1="27.03639514731369" y1="0" x2="27.03639514731369" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-0" x1="31.99306759098787" y1="0" x2="31.99306759098787" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="36.94974003466204" y1="0" x2="36.94974003466204" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="41.90641247833622" y1="0" x2="41.90641247833622" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="46.8630849220104" y1="0" x2="46.8630849220104" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="51.81975736568457" y1="0" x2="51.81975736568457" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="56.77642980935875" y1="0" x2="56.77642980935875" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="61.73310225303293" y1="0" x2="61.73310225303293" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-0" x1="66.6897746967071" y1="0" x2="66.6897746967071" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-0" x1="71.64644714038127" y1="0" x2="71.64644714038127" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-0" x1="76.60311958405545" y1="0" x2="76.60311958405545" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-0" x1="81.55979202772963" y1="0" x2="81.55979202772963" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-0" x1="86.51646447140381" y1="0" x2="86.51646447140381" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="91.47313691507799" y1="0" x2="91.47313691507799" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="96.42980935875215" y1="0" x2="96.42980935875215" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="101.38648180242633" y1="0" x2="101.38648180242633" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="106.34315424610051" y1="0" x2="106.34315424610051" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="111.29982668977469" y1="0" x2="111.29982668977469" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-0" x1="116.25649913344887" y1="0" x2="116.25649913344887" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-0" x1="121.21317157712305" y1="0" x2="121.21317157712305" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-0" x1="126.16984402079721" y1="0" x2="126.16984402079721" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-0" x1="131.12651646447142" y1="0" x2="131.12651646447142" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-0" x1="136.0831889081456" y1="0" x2="136.0831889081456" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="141.03986135181975" y1="0" x2="141.03986135181975" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="145.99653379549395" y1="0" x2="145.99653379549395" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="150.9532062391681" y1="0" x2="150.9532062391681" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="155.9098786828423" y1="0" x2="155.9098786828423" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="160.86655112651647" y1="0" x2="160.86655112651647" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="165.82322357019063" y1="0" x2="165.82322357019063" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="170.77989601386483" y1="0" x2="170.77989601386483" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="175.736568457539" y1="0" x2="175.736568457539" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="180.6932409012132" y1="0" x2="180.6932409012132" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="185.64991334488735" y1="0" x2="185.64991334488735" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="190.60658578856152" y1="0" x2="190.60658578856152" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="195.5632582322357" y1="0" x2="195.5632582322357" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="200.51993067590988" y1="0" x2="200.51993067590988" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="205.47660311958407" y1="0" x2="205.47660311958407" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="210.43327556325823" y1="0" x2="210.43327556325823" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-1" x1="215.3899480069324" y1="0" x2="215.3899480069324" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-2" x1="220.3466204506066" y1="0" x2="220.3466204506066" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-2" x1="225.30329289428076" y1="0" x2="225.30329289428076" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-2" x1="230.25996533795495" y1="0" x2="230.25996533795495" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-2" x1="235.21663778162912" y1="0" x2="235.21663778162912" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-2" x1="240.1733102253033" y1="0" x2="240.1733102253033" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-2" x1="245.12998266897748" y1="0" x2="245.12998266897748" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-2" x1="250.08665511265164" y1="0" x2="250.08665511265164" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-3" x1="255.04332755632583" y1="0" x2="255.04332755632583" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-3" x1="260" y1="0" x2="260" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-4" x1="264.95667244367417" y1="0" x2="264.95667244367417" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-4" x1="269.91334488734833" y1="0" x2="269.91334488734833" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-4" x1="274.8700173310225" y1="0" x2="274.8700173310225" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-4" x1="279.82668977469666" y1="0" x2="279.82668977469666" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="284.7833622183709" y1="0" x2="284.7833622183709" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="289.74003466204505" y1="0" x2="289.74003466204505" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="294.6967071057192" y1="0" x2="294.6967071057192" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="299.6533795493934" y1="0" x2="299.6533795493934" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="304.61005199306754" y1="0" x2="304.61005199306754" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="309.56672443674177" y1="0" x2="309.56672443674177" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="314.52339688041593" y1="0" x2="314.52339688041593" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="319.4800693240901" y1="0" x2="319.4800693240901" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="324.43674176776426" y1="0" x2="324.43674176776426" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="329.3934142114384" y1="0" x2="329.3934142114384" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="334.35008665511265" y1="0" x2="334.35008665511265" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="339.3067590987868" y1="0" x2="339.3067590987868" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="344.263431542461" y1="0" x2="344.263431542461" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="349.22010398613514" y1="0" x2="349.22010398613514" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="354.1767764298093" y1="0" x2="354.1767764298093" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="359.13344887348353" y1="0" x2="359.13344887348353" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="364.0901213171577" y1="0" x2="364.0901213171577" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="369.04679376083186" y1="0" x2="369.04679376083186" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="374.003466204506" y1="0" x2="374.003466204506" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="378.9601386481802" y1="0" x2="378.9601386481802" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="383.9168110918544" y1="0" x2="383.9168110918544" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="388.8734835355286" y1="0" x2="388.8734835355286" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="393.83015597920274" y1="0" x2="393.83015597920274" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="398.7868284228769" y1="0" x2="398.7868284228769" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="403.7435008665511" y1="0" x2="403.7435008665511" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="408.7001733102253" y1="0" x2="408.7001733102253" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="413.65684575389946" y1="0" x2="413.65684575389946" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="418.6135181975736" y1="0" x2="418.6135181975736" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="423.5701906412478" y1="0" x2="423.5701906412478" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="428.52686308492196" y1="0" x2="428.52686308492196" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="433.4835355285962" y1="0" x2="433.4835355285962" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="438.44020797227034" y1="0" x2="438.44020797227034" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="443.3968804159445" y1="0" x2="443.3968804159445" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="448.3535528596187" y1="0" x2="448.3535528596187" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="453.31022530329284" y1="0" x2="453.31022530329284" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="458.26689774696706" y1="0" x2="458.26689774696706" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="463.2235701906412" y1="0" x2="463.2235701906412" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="468.1802426343154" y1="0" x2="468.1802426343154" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="473.13691507798956" y1="0" x2="473.13691507798956" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="478.0935875216638" y1="0" x2="478.0935875216638" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="483.05025996533794" y1="0" x2="483.05025996533794" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="488.0069324090121" y1="0" x2="488.0069324090121" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="492.9636048526863" y1="0" x2="492.9636048526863" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="497.92027729636044" y1="0" x2="497.92027729636044" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="502.87694974003466" y1="0" x2="502.87694974003466" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="507.8336221837088" y1="0" x2="507.8336221837088" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="512.790294627383" y1="0" x2="512.790294627383" y2="100%" stroke-width="4.5060658578856145"></line><line class="l-5" x1="517.7469670710573" y1="0" x2="517.7469670710573" y2="100%" stroke-width="4.5060658578856145"></line></svg>#}
                                    <div >
                                        {% if svg != "" %}
                                            {{ svg | raw }}
                                        {% else %}
                                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </dt>
                        <dd class="badger-accordion__panel js-badger-accordion-panel">
                            <div class="badger-accordion__panel-inner js-badger-accordion-panel-inner">

                            {# All districts inside province #}
                                <div class="py-3 text-sm">
                                    {% for rows in districts %}
                                        <div class="flex justify-start text-gray-700 rounded-md px-2 py-2 my-2">
                                            <span class="bg-gray-400 h-2 w-2 m-2 rounded-full"></span>
                                            <div class="flex-grow font-medium px-2">{{ rows[0] }}
                                                <span class="pl-5 text-sm font-normal text-gray-500 tracking-wide"> {{ rows[1] }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>


                            </div>
                        </dd>
                        {% else %}

                            <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
                                <p>{% trans %}error.no_data{% endtrans %}</p>
                            </div>

                    {% endfor %}
        {% if lists|length > 0 %}
            </dl>
                </div>
            </div>

    {% endif %}

{% endblock content %}
