// From https://codepen.io/simonbreiter/pen/oLJAKy
.arrow {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
  margin: 0 1rem;

  span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: $brown;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:first-of-type {
      left: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:last-of-type {
      right: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  &.active span {
    &:first-of-type {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:last-of-type {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.-ba-is-active {
  .arrow {
    span {
      &:first-of-type {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:last-of-type {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}
