.wrapper-stripe {
  height: 2.3rem;
}
.percent-0 {
  stroke: #ffffff;
}
.percent-10 {
  stroke: $percent20;
}
.percent-20 {
  stroke: $percent20;
}
.percent-40 {
  stroke: $percent40;
}
.percent-60 {
  stroke: $percent60;
}
.percent-90 {
  stroke: $percent90;
}
.percent-100 {
  stroke: $percent100;
}

.bubble {
  fill: $white;
  stroke: $black;
  stroke-width:0.297;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1;
  stroke-miterlimit:4;
  stroke-dasharray:none;
}

.text_inside_bubble {
  font-style:normal;
  font-weight:normal;
  font-size:40px;
  line-height:1.25;
  font-family:sans-serif;
  letter-spacing:0px;
  word-spacing:0px;
  fill:$black;
  fill-opacity:1;
  stroke:none
}
.textspan_inside_bubble {
  font-size:10px;
  line-height:0;
  text-align:center;
  text-anchor:middle
}
