.svgpath {
  fill-opacity:1;
  stroke: $white;
  stroke-width:0.75413072;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1;
  transition: fill .3s ease-out;

  &.mahajanga {
    fill: $map_mahajanga;
    &:hover, &.active {
      fill: $map_mahajanga_hover;
    }
  }

  &.toamasina {
    fill: $map_toamasina;
    &:hover, &.active {
      fill: $map_toamasina_hover;
    }
  }

  &.antsiranana {
    fill: $map_antsiranana;
    &:hover, &.active {
      fill: $map_antsiranana_hover;
    }
  }

  &.fianarantsoa {
    fill: $map_fianarantsoa;
    &:hover, &.active {
      fill: $map_fianarantsoa_hover;
    }
  }

  &.antananarivo {
    fill: $map_antananarivo;
    &:hover, &.active {
      fill: $map_antananarivo_hover;
    }
  }

  &.toliary {
    fill: $map_toliary;
    &:hover, &.active {
      fill: $map_toliary_hover;
    }
  }

  &.neutral {
    fill: $lightgray;
    &:hover {
      fill: $lightgray_hover;
    }
   &.active {
    fill: $black;
  }
  }
}

.svg-ellipse {
  opacity:1;
  fill: $red;
  fill-opacity:1;
  stroke: $white;
  stroke-width:1;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  transition: fill .3s ease-out;
}

.svg-text-inside-ellipse {
  font-style:normal;
  font-weight:normal;
  font-size:40px;
  line-height:1.25;
  font-family:sans-serif;
  letter-spacing:0px;
  word-spacing:0px;
  fill:$red;
  fill-opacity:1;
  stroke:none;
}

.svg-text-8 {
  font-size:8px;
  fill:$white;
}
.svg-text-9 {
  font-size:9px;
  fill:$white;
}
.svg-text-10 {
  font-size:10px;
  fill:$white;
}
.svg-text-13 {
  font-size:13px;
  fill:$white;
}
.svg-text-18 {
  font-size:18px;
  fill:$white;
}
.svg-text-21 {
  font-size:21px;
  fill:$white;
}

// Echelle rectangle
.rect_scale {
  opacity:1;
  vector-effect:none;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:0.25167218;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:0;

  &.percent0 {
    fill: #ffffff;
  }

  &.percent20 {
    fill: $percent20;
  }

  &.percent40 {
    fill: $percent40;
  }

  &.percent60 {
    fill: $percent60;
  }

  &.percent90 {
    fill: $percent90;
  }

  &.percent100 {
    fill: $percent100;
  }
}

.text_scale {
  font-style:normal;
  font-weight:normal;
  font-size:10.58333302px;
  line-height:1.25;
  font-family:sans-serif;
  letter-spacing:0px;
  word-spacing:0px;
  fill:$black;
  fill-opacity:1;
  stroke:none;
  stroke-width:0.26458332
}
