{% extends 'frontend/layout.html.twig' %}

{% block title %} {{ 'txt.animation' | trans }} {{ parent() }} {% endblock %}

{% block content %}

    <div class="my-4 flex flex-wrap justify-center ">
        <div class="items-center">
            <h1 class="whitespace-no-wrap font-bold text-center w-1/2 mb-4">{{ 'txt.animation' | trans }}</h1>
            {% include '_partials/switch_lang.twig.html' %}
        </div>
    </div>

    <hr class="section-break-2">

    {# Sensibilisation -- start #}
    <div class="--background-color-ghostwhite border-t-4 --border-color-forestgreen rounded-b text-teal-900 py-3 shadow-md" role="alert">
        <div class="flex px-4 flex-wrap justify-between">
            <div class="w-full lg:w-3/12 md:w-3/12 ">
                <div class="flex">
                    <div class="py-1"><svg class="fill-current h-6 w-6 --color-forestgreen mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                    <div class="mx-4">
                        <p class="font-bold mb-6">{% trans %}txt.animation{% endtrans %}</p>
                        <ul class="list-disc mt-2">
                            <li><i class="fas fa-home"></i> {% trans %}txt.stay_home{% endtrans %}</li>
                            <li>{% trans %}txt.dont_touch_face{% endtrans %}</li>
                        </ul>

                    </div>


                </div>
                <div class="mt-5 flex ">
                    <div class="py-1"><i class="fas fa-mobile-alt text-4xl"></i></div>
                    <h3 class="mx-4 text-md ml-4">
                        {{ 'txt.info' | trans | raw }}<br>
                        {{ 'txt.symptome' | trans | raw }}
                    </h3>
                </div>

            </div>
            <div class="mr-2 w-full lg:w-2/12 md:w-2/12  text-center">
                <hr class="section-break-4 sm:hidden">
                {% trans %}txt.wash_hand{% endtrans %}
                <svg class="mx-auto" height="100" viewBox="0 0 512 512" width="100" xmlns="http://www.w3.org/2000/svg"><g><path d="m94.7 254.524a68.065 68.065 0 0 0 15.068 79.342l10.88-11.732a52.011 52.011 0 0 1 -7.282-67.914 8 8 0 0 0 1.177-6.646q-.2-.747-.383-1.5a8 8 0 0 0 -7.527-6.093 44 44 0 0 1 1.367-87.981c1.175 0 2.362.047 3.529.14a8 8 0 0 0 7.852-11.424 75.292 75.292 0 0 1 -7.381-32.716 76 76 0 0 1 137.358-44.854 8 8 0 0 0 10.717 2.042 60.061 60.061 0 0 1 63.684-.105l8.482-13.566a76.089 76.089 0 0 0 -74.415-3.417 92.035 92.035 0 0 0 -157.344 88.367 60.015 60.015 0 0 0 -5.782 118.057z"/><path d="m358.315 112.1a28.134 28.134 0 0 1 25.685 27.9 27.674 27.674 0 0 1 -6.255 17.64 8 8 0 0 0 0 10.084 64.021 64.021 0 0 1 -21.486 97.719 8 8 0 0 0 -3.432 11.1 56.152 56.152 0 0 1 3.106 48.457l14.83 6a72.192 72.192 0 0 0 -.451-55.082 80.035 80.035 0 0 0 23.5-113.415 44 44 0 0 0 -28.19-65.442 75.916 75.916 0 0 0 -15.674-30.242l-12.197 10.36a59.859 59.859 0 0 1 13.336 28.33 8 8 0 0 0 7.228 6.591z"/><path d="m175.161 63.581a56.484 56.484 0 0 0 56.419 56.419v-16a40.465 40.465 0 0 1 -40.419-40.419z"/><path d="m245.287 101.619 5.426 15.052a56.11 56.11 0 0 0 18.645-11.186l-10.716-11.885a40.175 40.175 0 0 1 -13.355 8.019z"/><path d="m33.292 483.64a8 8 0 0 0 -1.292 4.36v8h16v-5.628l50.708-78.012-13.416-8.72z"/><path d="m168.364 485.614a8.01 8.01 0 0 0 -.364 2.386v8h16v-6.779l34.636-110.835-15.272-4.772z"/><path d="m317.849 144.048a27.925 27.925 0 0 0 -25.834 6.124l-4.33 3.849 10.63 11.958 4.33-3.849a12 12 0 0 1 19.355 5.17l11.05 33.15a22.062 22.062 0 0 1 -.272 14.682l-8.27 22.055 14.98 5.618 8.271-22.055a38.108 38.108 0 0 0 .47-25.359l-11.049-33.151a27.933 27.933 0 0 0 -19.331-18.192z"/><path d="m440 128h16v16h-16z"/><path d="m440 160h16v16h-16z"/><path d="m424 144h16v16h-16z"/><path d="m456 144h16v16h-16z"/><path d="m56 328h16v16h-16z"/><path d="m56 360h16v16h-16z"/><path d="m40 344h16v16h-16z"/><path d="m72 344h16v16h-16z"/><path d="m384 324a36 36 0 1 0 70.331-10.842 28 28 0 1 0 -46.263-23.132 36.088 36.088 0 0 0 -24.068 33.974zm33.452-19.84a8 8 0 0 0 6.817-9.619 12 12 0 1 1 16.74 8.368 8 8 0 0 0 -3.608 11.223 20 20 0 1 1 -19.949-9.972z"/><path d="m477.946 482.648-57.6-64-11.893 10.7 55.547 61.722v4.93h16v-8a8 8 0 0 0 -2.054-5.352z"/><path d="m327.938 263.008a8.033 8.033 0 0 0 -.674-2.361l-40.131-86.947a47.867 47.867 0 0 0 -31.215-26.264l-62.118-16.57a28 28 0 0 0 -32.952 38.085l30.352 70.832-11.45 10.178-7.42-22.26a38.184 38.184 0 0 0 -24.03-24.034l-9.77-3.256a8 8 0 0 0 -10.29 5.649l-16 64a8 8 0 0 0 .407 5.091l22.318 52.072-39.273 60.417 13.416 8.72 41.6-64a8 8 0 0 0 .646-7.511l-22.939-53.523 13.251-53.005 1.573.525a22.1 22.1 0 0 1 13.914 13.914l6.484 19.451a38.66 38.66 0 0 0 -6.022 1.484l-8.145 2.716a8 8 0 0 0 -4.9 10.56l32 80a8 8 0 0 0 4.619 4.52l62.242 23.341 108.569 116.321v4.847h16v-8a8 8 0 0 0 -2.151-5.458l-112-120a8 8 0 0 0 -3.04-2.033l-60.693-22.759-27.537-68.844.1-.032a21.864 21.864 0 0 1 21.041 3.971l35.162 29.3a8 8 0 0 0 12.475-9.3l-55.8-130.2a12.014 12.014 0 0 1 12.007-16.7l45.086 105.2 14.708-6.3-40.23-93.87 17.772 4.745 39.814 87.591 14.566-6.622-34.38-75.635 6.892 1.838a31.91 31.91 0 0 1 20.81 17.509l39.611 85.824 7.27 58.161-28.283 21.214 9.6 12.8 26.148-19.611 67.106 74.563 11.892-10.7-70.319-78.133zm-133.979-2.455q-.53-.441-1.071-.861l4.959-4.408 5.672 13.235z"/><path d="m239.056 260h17.889v16h-17.889z" transform="matrix(.894 -.447 .447 .894 -93.671 139.202)"/><path d="m271.056 252h17.889v16h-17.889z" transform="matrix(.894 -.447 .447 .894 -86.721 152.689)"/></g></svg>

            </div>
            <div class="mr-2 w-full lg:w-3/12 md:w-3/12  text-center">
                <hr class="section-break-4 sm:hidden">
                {% trans %}txt.respect_1m_distance{% endtrans %}
                <svg class="mx-auto" height="100" viewBox="0 0 512 512" width="100" xmlns="http://www.w3.org/2000/svg"><g><path d="m414 152h4a38.043 38.043 0 0 0 38-38v-12a38.043 38.043 0 0 0 -38-38h-4a38.043 38.043 0 0 0 -38 38v12a38.043 38.043 0 0 0 38 38zm-22-50a22.025 22.025 0 0 1 22-22h4a22.025 22.025 0 0 1 22 22v12a22.025 22.025 0 0 1 -22 22h-4a22.025 22.025 0 0 1 -22-22z"/><path d="m468 160h-104a28.032 28.032 0 0 0 -28 28v80a28.032 28.032 0 0 0 28 28h4v124a28.032 28.032 0 0 0 28 28h40a28.032 28.032 0 0 0 28-28v-36h-16v36a12.013 12.013 0 0 1 -12 12h-12v-136h-16v136h-12a12.013 12.013 0 0 1 -12-12v-212h-16v72h-4a12.013 12.013 0 0 1 -12-12v-80a12.013 12.013 0 0 1 12-12h104a12.013 12.013 0 0 1 12 12v80a12.013 12.013 0 0 1 -12 12h-4v-72h-16v160h16v-72h4a28.032 28.032 0 0 0 28-28v-80a28.032 28.032 0 0 0 -28-28z"/><path d="m408 192h16v24h-16z"/><path d="m408 232h16v16h-16z"/><path d="m94 152h4a38.043 38.043 0 0 0 38-38v-12a38.043 38.043 0 0 0 -38-38h-4a38.043 38.043 0 0 0 -38 38v12a38.043 38.043 0 0 0 38 38zm-22-50a22.025 22.025 0 0 1 22-22h4a22.025 22.025 0 0 1 22 22v12a22.025 22.025 0 0 1 -22 22h-4a22.025 22.025 0 0 1 -22-22z"/><path d="m176 268v-80a28.032 28.032 0 0 0 -28-28h-104a28.032 28.032 0 0 0 -28 28v20h16v-20a12.013 12.013 0 0 1 12-12h104a12.013 12.013 0 0 1 12 12v80a12.013 12.013 0 0 1 -12 12h-4v-72h-16v212a12.013 12.013 0 0 1 -12 12h-12v-136h-16v136h-12a12.013 12.013 0 0 1 -12-12v-212h-16v72h-4a12.013 12.013 0 0 1 -12-12v-44h-16v44a28.032 28.032 0 0 0 28 28h4v124a28.032 28.032 0 0 0 28 28h40a28.032 28.032 0 0 0 28-28v-124h4a28.032 28.032 0 0 0 28-28z"/><path d="m88 192h16v24h-16z"/><path d="m88 232h16v16h-16z"/><path d="m336 424h-160v-8h-16v32h16v-8h160v8h16v-32h-16z"/></g></svg>
            </div>
            <div class="w-full lg:w-2/12 md:w-2/12  text-center">
                <hr class="section-break-4 sm:hidden">
                {% trans %}txt.make_mask{% endtrans %}
                <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 512 512"><g><path d="M438.472,106.241l-95.7-65.795A47.793,47.793,0,0,0,315.576,32H258.357A38.267,38.267,0,0,0,227.4,16H203.272a37.989,37.989,0,0,0-25.023,9.4L150.161,49.979,160.7,62.021l28.088-24.578A22,22,0,0,1,203.272,32H227.4A22.13,22.13,0,0,1,247.93,46.1L278.235,124.9l-90.574,60.382L112.906,232H112v.566l-40,25V154.151a32,32,0,0,1,10.928-24.083l66.34-58.047L138.732,59.979l-66.34,58.048A48,48,0,0,0,56,154.151V272a8,8,0,0,0,12.24,6.784l3.76-2.35V290a38.058,38.058,0,0,0,32.864,37.654l-.522,14.622a37.826,37.826,0,0,0,6.072,22l.072.109,21.505,32.071.2-.135a87.955,87.955,0,0,0,22.646,53.893l33.291,36.621A28.057,28.057,0,0,0,208.847,496H264V480H208.847a12.025,12.025,0,0,1-8.879-3.928l-33.291-36.62a72.258,72.258,0,0,1-7.78-86.593l6.176-9.881L256,320.246l90.927,22.732,6.176,9.881a72.258,72.258,0,0,1-7.78,86.593l-33.292,36.62A12.021,12.021,0,0,1,303.153,480H280v16h23.153a28.057,28.057,0,0,0,20.718-9.165l33.291-36.621a87.91,87.91,0,0,0,22.517-52.083l21.907-33.855a37.827,37.827,0,0,0,6.072-22l-.522-14.621A38.058,38.058,0,0,0,440,290V262a37.932,37.932,0,0,0-7.753-23.025A37.92,37.92,0,0,0,444.9,217.962l5.2-24.286-15.645-3.352-5.2,24.285a22.036,22.036,0,0,1-9.5,13.788l-.018-.009-.017.032A21.9,21.9,0,0,1,407.748,232h-10.6L364.54,160.255a38.2,38.2,0,0,0-21.813-20.062l-48.069-17.167L265.8,48h49.774a31.87,31.87,0,0,1,18.13,5.63l95.7,65.8a31.9,31.9,0,0,1,13.16,33.074l-4.676,21.824,15.645,3.352,4.676-21.823A47.849,47.849,0,0,0,438.472,106.241ZM88,290V266.434l24-15V312h-2A22.025,22.025,0,0,1,88,290Zm57.329,54.38a87.289,87.289,0,0,0-11.059,26.745l-10.456-15.592a21.9,21.9,0,0,1-3.482-12.686l.5-13.9,27.316,10.926Zm242.823,11.2-10.327,15.961a87.276,87.276,0,0,0-11.154-27.164l-2.816-4.506,27.316-10.926.5,13.9A21.888,21.888,0,0,1,388.152,355.583ZM407.748,248a37.537,37.537,0,0,0,10.01-1.36A21.957,21.957,0,0,1,424,262v28a22.025,22.025,0,0,1-22,22h-2V248Zm-57.774-81.124L384,241.733v72.851l-32.569,13.027L257.94,304.239a7.985,7.985,0,0,0-3.88,0l-93.491,23.372L128,314.584v-73.15l68.24-42.65c.067-.042.133-.084.2-.128l91.539-61.026,49.368,17.631A22.116,22.116,0,0,1,349.974,166.876Z"/><rect x="184" y="240" width="24" height="40" rx="10" ry="10"/><rect x="304" y="240" width="24" height="40" rx="10" ry="10"/><path d="M309.8,383.692l4.4-15.384-56-16a7.991,7.991,0,0,0-4.4,0l-56,16,4.4,15.384L256,368.32Z"/><path d="M202.2,423.692,256,408.32l53.8,15.372,4.4-15.384-56-16a7.991,7.991,0,0,0-4.4,0l-56,16Z"/><rect x="232" y="440" width="48" height="16"/></g></svg>
            </div>
        </div>

    </div>
    {# Sensibilisation -- end #}

    {# Widget start #}
    <div class="flex flex-wrap  mt-10">

        <div class="w-full lg:w-4/12 md:w-4/12 mb-5">
            <div class="fb-page"
                 data-href="https://www.facebook.com/OMSMadagascar"
                 data-tabs="timeline"
                 data-width=""
                 data-height=""
                 data-small-header="true"
                 data-adapt-container-width="true"
                 data-hide-cover="true"
                 data-show-facepile="false">Loading</div>
        </div>
        <div class="w-full lg:w-4/12 md:w-4/12 mb-5">
            <a class="twitter-timeline" data-height="500" href="https://twitter.com/MG_One_UN?ref_src=twsrc%5Etfw">Tweets by MG_One_UN</a>
        </div>
    </div>
    {# Widget end #}
{% endblock content %}
