{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-red-800 border-b border-indigo-darkest bg-teal py-2 px-1 mb-3">
        <div class="container mx-auto">
            <nav class="flex items-center justify-between flex-wrap">

                <a class="flex items-center flex-no-shrink text-white mr-6" href="{{ path('frontend_default') }}">
                    <svg class="mt-3 mx-2"
                         xmlns:dc="http://purl.org/dc/elements/1.1/"
                         xmlns:cc="http://creativecommons.org/ns#"
                         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                         xmlns:svg="http://www.w3.org/2000/svg"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="37"
                         viewBox="0 0 14.287499 14.2875"
                         version="1.1"
                    >
                        <g
                                inkscape:groupmode="layer"
                                id="layer3"
                                inkscape:label="s"
                                transform="translate(0.73541382,-77.243716)">
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.02447266px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                                    d="m 13.552992,74.73149 c 0,0 -3.9573064,1.054767 -3.478528,2.856088 0.478777,1.80132 1.613525,6.641662 1.833998,8.207163 0.199041,1.413323 -12.6808035,1.481181 -12.6808035,1.481181 l 0.0467721,1.741122 c 0,0 13.2383524,-0.306794 13.9375834,-2.099166 0.603907,-1.548023 -1.353403,-7.01449 -1.448881,-7.703383 -0.239388,-1.727214 1.801281,-1.820931 1.801281,-1.820931 z"
                                    inkscape:connector-curvature="0"
                                    sodipodi:nodetypes="cssccsscc" />
                        </g>
                        <g
                                inkscape:label="Calque 1"
                                inkscape:groupmode="layer"
                                id="layer1"
                                transform="translate(0.73541382,-241.95204)"
                                style="display:inline">
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.03036975px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                                    d="m -0.81911366,249.98423 2.81615376,-10.55021 2.1250615,0.006 1.1437541,9.31957 2.041482,-9.3208 1.6826881,-0.003 2.2271792,10.53546 -2.2857745,0.34352 -0.8706073,-6.5904 -1.022808,6.25986 -3.7240028,0 -0.63998,-6.2692 -1.2809179,6.53242 z"
                                    inkscape:connector-curvature="0"
                                    sodipodi:nodetypes="cccccccccccccc" />
                        </g>
                    </svg>
                    <span class=" text-xl tracking-tight text-2xl">{{ 'txt.covid_madagascar' | trans }}</span>
                </a>


                <div class="block sm:hidden">
                    <button class="hamburger hamburger--squeeze" type="button">
                          <span class="hamburger-box">
                            <span class="hamburger-inner "></span>
                          </span>
                    </button>


                </div>
                <div  id="main-nav" class="w-full flex-grow sm:flex items-center sm:w-auto hidden">
                    <div class="sm:flex-grow"></div>
                    <div>
                        <a href="{{ path('frontend_animation') }}" class=" text-center block no-underline mt-4 sm:inline-block sm:mt-0 text-white hover:text-grey-light mr-4">
                            <svg class="inline-block fill-current h-5 w-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg>
                            {{ 'txt.animation' | trans }}
                        </a>
                        <a href="{{ path('frontend_about') }}" class="text-center no-underline block mt-4 sm:inline-block sm:mt-0 text-white hover:text-grey-light  mr-4">
                            {{ 'nav_menu.about' | trans }}
                        </a>
                        <a href="{{ path('frontend_contact') }}" class="text-center no-underline block mt-4 sm:inline-block sm:mt-0 text-white hover:text-grey-light ">
                            {{ 'nav_menu.contact' | trans }}
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container mx-auto px-3 lg:p-0">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
