<!DOCTYPE html>
<html translate="no">
    <head>
        <meta name="google" content="notranslate"/>
        <meta charset="UTF-8">
        <title>{% block title 'txt.meta_title' | trans  %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="theme-color" content="#9b2c2c">
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">

        {% block metatag %}
        <meta name="description" content="{{ 'txt.sources_descriptions' | trans }}">
        <meta property="og:title" content="{{ 'txt.meta_title' | trans }}" />
        <meta property="og:url" content="{{ router_request_context_scheme }}://{{ router_request_context_host }}" />
        <meta property="og:image" content="https://{{ router_request_context_host }}{{ asset('build/images/covid19mg.jpg') }}" />
        <meta property="og:site_name" content="&#124;&nbsp;{{ 'txt.site_name' | trans }}" />
        <meta property="og:description" content="{{ 'txt.sources_descriptions' | trans }}" />
        <meta property="og:type" content="website" />
        <meta property="fb:admins" content="823705647" />
        <meta property="og:locale" content="fr_FR" /> 
        
    
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@madatsara" />
        <meta name="twitter:url" content="{{ router_request_context_scheme }}://{{ router_request_context_host }}" /> 
        <meta name="twitter:title" content="{{ 'txt.meta_title' | trans }}" />
        <meta name="twitter:description" content="{{ 'txt.sources_descriptions' | trans }}" />
        <meta name="twitter:image" content="https://{{ router_request_context_host }}{{ asset('build/images/covid19mg.jpg') }}" />
        
        <meta itemprop="name" content="{{ 'txt.meta_title' | trans }}" />
        <meta itemprop="description" content="{{ 'txt.sources_descriptions' | trans }}" />
        <meta itemprop="image" content="//{{ router_request_context_host }}{{ asset('build/images/covid19mg.jpg') }}" />
        <meta itemprop="thumbnailUrl" content="//{{ router_request_context_host }}{{ asset('build/images/covid19mg.jpg') }}" />
        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

        {# Adsense #}
        <script data-ad-client="ca-pub-0184608766708661" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class=" leading-normal tracking-normal"> 
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0&appId=883179961793841"></script>

        {% block body %}{% endblock %}
        {% block javascripts %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2014032-21"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-2014032-21');
        </script>

        <!-- Quantcast Tag -->
        <script type="text/javascript">
            var _qevents = _qevents || [];

            (function() {
                var elem = document.createElement('script');
                elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
                elem.async = true;
                elem.type = "text/javascript";
                var scpt = document.getElementsByTagName('script')[0];
                scpt.parentNode.insertBefore(elem, scpt);
            })();

            _qevents.push({
                qacct:"p-dqpy7k2BK8rfA"
            });
        </script>

        <noscript>
            <div style="display:none;">
                <img src="//pixel.quantserve.com/pixel/p-dqpy7k2BK8rfA.gif" border="0" height="1" width="1" alt="Quantcast"/>
            </div>
        </noscript>
        <!-- End Quantcast tag -->
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </body>
</html>
