{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'frontend/layout.html.twig' %}

{% block content %}

    <div class="--background-color-palegreen border-t-4 --border-color-forestgreen rounded-b text-teal-900 py-3 shadow-md" role="alert">
        <div class="flex px-4 flex-wrap">
            <div class="w-full lg:w-6/12 md:w-6/12 ">
                <div class="flex flex-wrap">
                    <div class="py-1"><svg class="fill-current h-6 w-6 --color-forestgreen mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                    <div class="mr-4">
                        <p class="font-bold mb-6">Error ({{ status_code }})</p>

                        <div class="p-4 rounded"><p>{{ status_text }}</p></div>
                        {% if status_code == 500 %}
                            <p>{{ 'error.fatalerror_description' | trans }}</p>
                            <p>{{ 'error.sorryerror_description' | trans }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
