{% extends 'frontend/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% set urlShared = router_request_context_scheme ~ "://" ~  router_request_context_host ~ "/" | url_encode %}

{% block content %}

    <div class="my-4 flex flex-wrap justify-center">
        <div>
            <h1 class="whitespace-no-wrap font-bold text-center w-1/2 mb-4">{{ 'txt.covid_madagascar' | trans }}</h1>
            {% include '_partials/switch_lang.twig.html' %}
        </div>
    </div>
    <hr class="section-break-2">



    <div class="flex items-center bg-red-800 text-white text-sm font-bold px-4 py-3" role="alert">
        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
        <p>{{ 'txt.updated_date' | trans }} {{ entityDataType[0].updatedAt |  format_date }}</p>
    </div>




    <hr class="section-break-2">

    <div class="flex flex-wrap items-center mt-10">
        <div class="w-full lg:w-6/12 md:w-6/12 ">
            <div class="my-4 ">
                <h2 class="font-bold py-5 text-center">{{ 'txt.province_situation' | trans }}</h2>
                <div class="divider div-transparent div-arrow-down"></div>
            </div>
            <div class="w-2/3 mx-auto">

                {#  Tsinjaka ankapobeny - circle start #}
                <div class="flex flex-wrap mt-2">
                    <div class="w-full lg:w-6/12 md:w-3/12  p-1 ">
                        <svg class="circle-chart mx-auto" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                            <circle class="circle-chart__circle" stroke="#b71c1c" stroke-width="2" stroke-dasharray="100,30" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                            <g class="circle-chart__info">
                                <text id="text-circle-confirmed" class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">{{ listCases[1]['number'] }}</text>
                                <text class="circle-chart__subline" x="16.91549431" y="22.5" alignment-baseline="central" text-anchor="middle" font-size="3">{{ listCases[1]['name'] }}</text>
                            </g>
                        </svg>
                    </div>

                    <div class="w-full lg:w-6/12 md:w-3/12 p-1">
                        <svg class="circle-chart mx-auto" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                            <circle class="circle-chart__circle circle-chart__circle--negative" stroke="#2bb30a" stroke-width="2" stroke-dasharray="{{ listCases[2]['percent'] | round ~ ",100" }}" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                            <g class="circle-chart__info">
                                <text id="text-circle-recovered" class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">{{ listCases[2]['number'] }}</text>
                                <text class="circle-chart__subline" x="16.91549431" y="22.5" alignment-baseline="central" text-anchor="middle" font-size="3">{{ listCases[2]['name'] }} ({{ listCases[2]['percent'] }}%)</text>
                            </g>
                        </svg>
                    </div>
                </div>

                <p class="text-center">{{ listCases[3]['name'] }} : {{ listCases[3]['number'] }}</p>

                <div class="my-4 flex flex-wrap justify-center">
                    <h3 class="text-2md">
                        <p class="text-center"><strong>{{ entityDataType[0].updatedAt |  format_date }}</strong></p>
                        <br /> {{ listCases[1]['name'] }} : +{{ listCases[1]['numberLastAdded'] }}  -  {{ listCases[2]['name'] }} : <strong>+{{ listCases[2]['numberLastAdded'] }}</strong> -  {{ listCases[3]['name'] }} : +{{ listCases[3]['numberLastAdded'] }}</h3>
                </div>
                {#  Tsinjaka ankapobeny - circle END #}



            </div>

        </div>
        <div class="w-full lg:w-6/12 md:w-6/12 mt-2">
            {#  Carte de Mada  #}
            {{ showMap('province',provinces) }}
        </div>
    </div>

    <hr class="section-break-2">

    {# Echelle #}
    {{ render_esi(controller('App\\Controller\\FrontendAjaxController::dataDayEchelle', { 'twigfile': '_partials/dataDayEchelle.html.twig' })) }}


    {# Cas par jour #}
    {{ render_esi(controller('App\\Controller\\FrontendDefaultController::dataProvinces', { 'type': 'all', 'twigfile': '_partials/dataglobal_detail.html.twig' })) }}

    <p class="text-gray-500 italic text-right text-xs"><a href="{{ path('frontend_about') }}">{{ 'txt.source_local' | trans }}</a></p>

    <div class="my-4">
        <h2 class="font-bold py-5 text-center">{{ 'txt.evolution_pandemy' | trans }}</h2>
        <div class="divider div-transparent div-arrow-down"></div>
    </div>

    <p class="text-center">{{ 'txt.graph_line_explain' | trans }}</p>

    {#  Chart : graph type line #}
    {{ showChart('line', dataDateType, typeCaseEntities, app.request.locale) }}



    <div class="my-4">
        <h2 class="font-bold py-5 text-center">{{ 'txt.daily_cases' | trans }}</h2>
        <div class="divider div-transparent div-arrow-down"></div>
    </div>

    <p class="text-center">{{ 'txt.graph_scatter_explain' | trans }}</p>

    {# Chart : graph type scatter #}
    {{ showChart('scatter', dataDateTypeNumberAdded, typeCaseEntities, app.request.locale) }}



    {# Share network social -- start #}
    <div class="my-4 flex flex-wrap justify-center">


        <div class="mr-3">
            <a data-tippy-content="{{ 'txt.share' | trans ~ " Facebook" }}" target="_blank" href="https://www.facebook.com/sharer.php?s=100&p[url]={{ urlShared }}">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 455 455" width="30" height="30" xml:space="preserve">
<path style="fill-rule:evenodd;clip-rule:evenodd;" d="M0,0v455h455V0H0z M301.004,125.217H265.44
	c-7.044,0-14.153,7.28-14.153,12.696v36.264h49.647c-1.999,27.807-6.103,53.235-6.103,53.235h-43.798V385h-65.266V227.395h-31.771
	v-53.029h31.771v-43.356c0-7.928-1.606-61.009,66.872-61.009h48.366V125.217z"/>
                    <g></svg>
            </a>
        </div>


        <div class="mr-3">
            <a data-tippy-content="{{ 'txt.share' | trans ~ " Twitter" }}" target="_blank" href="https://twitter.com/share?url={{ urlShared }}&text={{ 'txt.meta_title' | trans | url_encode }}&via=%40madatsara&hashtags=%23covid19mg">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="30" height="30"   viewBox="0 0 310 310" xml:space="preserve">
<g id="XMLID_826_">
    <path id="XMLID_827_" d="M302.973,57.388c-4.87,2.16-9.877,3.983-14.993,5.463c6.057-6.85,10.675-14.91,13.494-23.73
		c0.632-1.977-0.023-4.141-1.648-5.434c-1.623-1.294-3.878-1.449-5.665-0.39c-10.865,6.444-22.587,11.075-34.878,13.783
		c-12.381-12.098-29.197-18.983-46.581-18.983c-36.695,0-66.549,29.853-66.549,66.547c0,2.89,0.183,5.764,0.545,8.598
		C101.163,99.244,58.83,76.863,29.76,41.204c-1.036-1.271-2.632-1.956-4.266-1.825c-1.635,0.128-3.104,1.05-3.93,2.467
		c-5.896,10.117-9.013,21.688-9.013,33.461c0,16.035,5.725,31.249,15.838,43.137c-3.075-1.065-6.059-2.396-8.907-3.977
		c-1.529-0.851-3.395-0.838-4.914,0.033c-1.52,0.871-2.473,2.473-2.513,4.224c-0.007,0.295-0.007,0.59-0.007,0.889
		c0,23.935,12.882,45.484,32.577,57.229c-1.692-0.169-3.383-0.414-5.063-0.735c-1.732-0.331-3.513,0.276-4.681,1.597
		c-1.17,1.32-1.557,3.16-1.018,4.84c7.29,22.76,26.059,39.501,48.749,44.605c-18.819,11.787-40.34,17.961-62.932,17.961
		c-4.714,0-9.455-0.277-14.095-0.826c-2.305-0.274-4.509,1.087-5.294,3.279c-0.785,2.193,0.047,4.638,2.008,5.895
		c29.023,18.609,62.582,28.445,97.047,28.445c67.754,0,110.139-31.95,133.764-58.753c29.46-33.421,46.356-77.658,46.356-121.367
		c0-1.826-0.028-3.67-0.084-5.508c11.623-8.757,21.63-19.355,29.773-31.536c1.237-1.85,1.103-4.295-0.33-5.998
		C307.394,57.037,305.009,56.486,302.973,57.388z"/>
</g></svg></a></div>

        <div class="mr-3">
            <a data-tippy-content="{{ 'txt.share' | trans ~ " Linkedin" }}" target="_blank" href="http://www.linkedin.com/shareArticle?url={{ urlShared }}&title={{ 'txt.meta_title' | trans | url_encode }}">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="30" height="30" viewBox="0 0 455 455"  xml:space="preserve">
<g>
    <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M246.4,204.35v-0.665c-0.136,0.223-0.324,0.446-0.442,0.665H246.4z"/>
    <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M0,0v455h455V0H0z M141.522,378.002H74.016V174.906h67.506V378.002z
		 M107.769,147.186h-0.446C84.678,147.186,70,131.585,70,112.085c0-19.928,15.107-35.087,38.211-35.087
		c23.109,0,37.31,15.159,37.752,35.087C145.963,131.585,131.32,147.186,107.769,147.186z M385,378.002h-67.524V269.345
		c0-27.291-9.756-45.92-34.195-45.92c-18.664,0-29.755,12.543-34.641,24.693c-1.776,4.34-2.24,10.373-2.24,16.459v113.426h-67.537
		c0,0,0.905-184.043,0-203.096H246.4v28.779c8.973-13.807,24.986-33.547,60.856-33.547c44.437,0,77.744,29.02,77.744,91.398V378.002
		z"/>
</g></svg>
            </a>
        </div></div>
    {# Share network social -- end #}

    <div class="my-4">
        <h2 class="font-bold py-5 text-center">{{ 'txt.social_network' | trans }}</h2>
        <div class="divider div-transparent div-arrow-down"></div>
    </div>


    {# Widget start #}
    <div class="flex flex-wrap  mt-10">
        <div class="w-full lg:w-4/12 md:w-4/12 mb-5">
            <div class="fb-page"
                 data-href="https://www.facebook.com/minsanp"
                 data-tabs="timeline"
                 data-width=""
                 data-height=""
                 data-small-header="true"
                 data-adapt-container-width="true"
                 data-hide-cover="true"
                 data-show-facepile="false">Loading</div>
        </div>
        <div class="w-full lg:w-4/12 md:w-4/12 mb-5">
            <a class="twitter-timeline" data-height="500" href="https://twitter.com/PresidenceMada?ref_src=twsrc%5Etfw">Tweets by PresidenceMada</a>
        </div>
        <div class="w-full lg:w-4/12 md:w-4/12 mb-5">
            <div class="fb-page"
                 data-href="https://www.facebook.com/madavscovid19.mg"
                 data-tabs="timeline"
                 data-width=""
                 data-height=""
                 data-small-header="true"
                 data-adapt-container-width="true"
                 data-hide-cover="true"
                 data-show-facepile="false">Loading</div>
        </div>
        <div class="w-full lg:w-4/12 md:w-4/12 mb-5">
            <a class="twitter-timeline" data-height="500" href="https://twitter.com/pasteurmg?ref_src=twsrc%5Etfw">Tweets by pasteurmg</a>
        </div>
    </div>
    {# Widget end #}


    <div class=" px-4 ">
        <p class="text-gray-500 italic text-right text-xs">
            Translations, Design &amp; collection data  by @Andy A - Dev. by <a target="_blank" href="https://miary.dev">@Miary</a> - Icons made by <a target="_blank" href="https://flagicons.lipis.dev/">flag-icons</a>, <a target="_blank" href="https://svgrepo.com" >svgrepo.com</a>,  <a target="_blank" href="https://www.flaticon.com/authors/linector" title="Linector">Linector</a>  from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </p>
    </div>
    
{% endblock content %}
